@import url("https://fonts.googleapis.com/css2?family=Lato:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --red-300: hsl(0, 100%, 90%);
  --red-500: hsl(0, 100%, 50%);
  --red-700: hsl(0, 100%, 10%);
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding-bottom: 0.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  font-family: inherit;
}

.align-center {
  text-align: center;
}

main {
  width: 90vw;
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-start;
  justify-content: space-between;
}

.card-container {
  margin: 2rem 0;
  padding-bottom: 5rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
